/* reset해야하는지 */
body,table,div{font-family:'Nanum Gothic',sans-serif;font-size:13px;line-height:20px}
input,select,textarea{font-family:'Nanum Gothic', sans-serif;border:1px solid #AFC3D6;padding:3px;font-size:12px}
pre{font-family:'Nanum Gothic', sans-serif;padding:4px;font-size:12px}
body,div,dl,dt,dd,ul,ol,li,h1,h3,h4,h5,h6,code,form,fieldset,legend,button,p,blockquote{margin:0;padding:0;}
a{text-decoration:none}
a:hover{text-decoration:underline}

/* 로그인38줄?? */
.main-wrap{margin:0 auto;width:990px;clear:both;}
.main-wrap__conleft{float:left;width:240px;clear:both}
.main-wrap__conleft__icon__img{float: left;width:1px;height: 1px;}
.main-wrap__conleft__icon {float:left;width:220px;margin-top:25px;list-style-type:none;}
.main-wrap__conleft__icon__text ul{float:left;width:110px;}
.main-wrap__conleft__icon__text li{margin-left:100px;height:20px;border-bottom:1px solid #E9E9E9;padding:3px 3px 0 0;}
.main-wrap__conleft__icon__text a{font-size:15px;font-weight:600;color:#000;background:#FFF;text-decoration:none;}
.main-wrap__conleft__icon__text a:hover, .main-wrap__conleft__icon__text a:focus{text-decoration:none;font-size:14px;}
.main-wrap__conleft {float:left;width:240px;clear:both}

.main-wrap__conleft__bann{float:left;margin-top:18px;padding:0;}
.main-wrap__conleft__bann__tot{float:left;width:100%;letter-spacing:-1px}
.main-wrap__conleft__bann__tot__a1{margin-top: 6px;}
.main-wrap__conleft__bann__tot__a1{float:left;width:220px;height:75px;border:1px solid #CCC;font-size:15px;background:url('../images/main/pdfViewer.png') no-repeat 10px 15px;}
.main-wrap__conleft__bann__tot__a1_1{background:url('../images/main/tmpIcon.png') no-repeat 10px 15px;}
.main-wrap__conleft__bann__tot .main-wrap__conleft__bann__tot__a1_1 a{font-weight:800;float:left;width:155px;height:53px;border:1px solid #CCC;padding:17px 0 0 65px;margin-bottom:12px;font-size:15px;background:url('../images/main/tmpIcon.png') no-repeat 10px 15px;text-decoration:none;}
.main-wrap__conleft__bann__tot__a1_1 a:hover{font-size:15px;background:url('../images/main/tmpIcon.png') no-repeat 10px 15px;}
.main-wrap__conleft__bann__tot__a1_2{float:left;margin:14px 0 0 75px;line-height:15px;font-weight:800;}
.main-wrap__conleft__bann__tot__a1_3{float:left;margin:5px 0 0 75px;font-weight:800;color:#000;background:#FFF;text-decoration:none;}
.main-wrap__conleft__bann__tot a{color:#000;font-size:13px;font-weight:600;background:#FFF;text-decoration:none}
.main-wrap__conleft__bann__tot__a1_3 a{font-size:13px;border:1px solid #777;background:url('../images/main/maginIcon.png') no-repeat 0 0px;padding-left:20px;padding-right:2px}
.main-wrap__conleft__bann__tot__a1_3 a:hover{color:#336699;font-weight:600;background:#FFF;background:url('../images/main/maginIcon.png') no-repeat 0 0px;}

.main-wrap__conleft__bann__tot__a1_1__sp1{font-size:13px;}
.main-wrap__conleft__bann__tot__a1_1__sp2{color:#F78102;}

.main-wrap__concenter__useinfo{float:left;width:367px;margin-top:8px;}
.main-wrap__concenter__useinfo__tot{float:left;width:100%;letter-spacing:-1px}
.main-wrap__concenter__useinfo__tot__a1{float:left;width:176px;height:75px;border:1px solid #CCC;margin-right:10px;}
.main-wrap__concenter__useinfo__tot__a1 a{text-decoration:none;color:#000;background:#FFF}
.main-wrap__concenter__useinfo__tot__a2{float:left;width:177px;height:75px;border:1px solid #CCC;margin:0;font-size:15px}
.main-wrap__concenter__useinfo__tot__a1_1 a{float:left;width:167px;height:57px;border:1px solid #CCC;margin:0;font-size:15px;font-weight:800;color:#000;padding:18px 0 0 10px;background:#FFF;text-decoration:none;}
.main-wrap__concenter__useinfo__tot__a1_2{float:left;margin:9px 0 0 20px;line-height:18px;font-weight:800;font-size:15px;}
.main-wrap__concenter__useinfo__tot__a1_2 a{text-decoration:none;font-weight:700;font-size:13px;color:#000;background:#FFF;}
.main-wrap__concenter__useinfo__tot__a1_3{float:left;margin:5px 0 0 20px;padding:2px;font-weight:600;text-decoration:none;font-size:11px;}
.main-wrap__concenter__useinfo__tot__a1_3 a{background:url('../images/main/tmppdf.png') no-repeat 2px 1px;border:1px solid #777;padding-left:20px;padding-right:2px;}
.main-wrap__concenter__useinfo__tot__a1_3 a:hover{color:#336699;background:#FFF;background:url('../images/main/tmppdf.png') no-repeat 2px 1px;border:1px solid #777;padding-left:20px;padding-right:2px;}
.main-wrap__concenter__useinfo__tot__a1_1__sp1{font-size:13px;}

.main-wrap__concenter{float:left;width:370px;}
.main-wrap__concenter__report{float:left;width:360px;}
.main-wrap__concenter__report__title{float:left;width:350px;margin-left:0px;margin-bottom:5px;padding:5px 10px 5px 10px;background:#000;font-weight:bold;color:#FFF}
.main-wrap__concenter__report__list{float:left;width:362px;height:128px; margin-left:0px;margin-bottom:0px;}
.main-wrap__concenter__report__list ul{margin:0;padding:0;}
.main-wrap__concenter__report__list li{list-style-type:none;float:left;margin:0;}

.main-wrap__concenter__notice{float:left;width:370px;height:165px;}
/* 77줄 부터~~ */

.main-wrap__conright{float:left;width:341px;height:411px;padding:0}
.main-wrap__conright_r{float:left;width:341px;margin-left:18px;height:353px;background:url('../images/main/leftbg.gif') no-repeat left top;}
