.pdf-title a{
    text-decoration: none;
    position: relative;
    padding: 7px 10px;
    border: 1px solid #CCC;
    color: #000;
    border-radius: 3px 3px 0 0;
    outline: none;
    background: #F0F0F0;
}

.pdf-title li {
    list-style: none;
    float: left;
}

.pdf-title {
    width: 680px;
    text-align: left;
    margin-top: 20px;
    float: left;
    font-weight: bold;
}

.pdf-content {
    float: left;
    width: 650px;
    border: 2px dashed #A1A1A1;
    background: #F1FAFE;
    color: #000;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 5px;
}
