.wrap-right-content_box {
    border: 1px solid #baced7;
    margin-bottom: 15px;
    padding: 20px;
    margin: 10px 0 20px 0;
}
.wrap-right-title {
	height: 39px;
}
.wrap-right__option {text-align: right; margin-bottom:10px;}

.table-header {
    padding-bottom: 100px;
    border-top: 2px solid #ABC7DD;
}

.table-header tr {
    border-bottom: 1px solid #ABC7DD;
}


.table-header th {
    background-color: #E3EBF2;
    padding: 2px 3px 2px 3px;
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    color: #336699;
    text-align: center;
    vertical-align:middle;
}

.table-header td {
    background-color: white;
    padding: 2px 3px 2px 3px;
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    color: black;
    text-align: center;
    vertical-align:middle;
}

.c_infobox1   {float:left;width:686px;border:2px solid #C2A992;padding:10px;}

#paging {float:left;width:740px;text-align:center;height:23px;margin:20px 0 10px 0;}
#paging a{color:#000;background:#FFF;text-decoration:none;}
#paging a:visited{color:#000;background:#FFF;}
#paging a:hover,#paging a:active {color:#0066cc;background:#FFF;}
#paging1 {text-align:center;font-size:12px;white-space:nowrap;height:30px; background:#FFF; color:#000;}
#paging1 a,#paging1 a:visited {color:#000;background:#FFF;}
#paging1 a:hover,#paging1 a:active {color:#0066cc; text-decoration:none;background:#FFF;}

#search_div{float:right;text-align:right;width:500px;margin:10px;}
#search_div img{vertical-align:top;margin:0px;}
#search_div .search_vertical{vertical-align:middle; }

table.t_org{float:left;width:710px;border-top:2px solid #C2A992;margin-top:10px;}
table.t_org th{border-bottom:1px solid #DDD;background:#F3EEEA;height:32px;color:#000}
table.t_org td{border-bottom:1px solid #DDD;text-align:center;height:32px;}
table.t_org td.title_o{border-bottom:1px solid #DDD;text-align:left;}
table.t_org td.title_o a{text-decoration:none;color:#336699;background:#fff}
table.t_org td.title_o a:hover{text-decoration:underline}

table.t_blue{	width:100%;	border-top:2px solid #ABC7DD;}
table.t_blue .star_red{color:#CC0000;background:#E3EBF2}
table.t_blue .txt_o11{color:#EA6E00;font-weight:bold;font-size:12px;background:#FFF}
table.t_blue th{border-bottom:1px solid #ABC7DD;height:32px;background:#ABC7DD;color:#000;}
table.t_blue td{border-bottom:1px solid #ABC7DD;height:32px;font-size:12px;padding-left:5px}
table.t_blue td a{text-decoration:none;color:#336699;background:#FFF}
table.t_blue td a:hover{text-decoration:underline}
table.t_blue .date{letter-spacing:-1px;}
table.t_blue .center{text-align:center;}
table.t_blue .tdo_to_c a{text-decoration:none;color:#cc0000;background:#E3EBF2;}
table.t_blue .tdo_to_c a:hover{text-decoration:underline}
/* table.t_blue_d{width:100%;}
table.t_orange_d td{border-bottom:1px solid #EAE2DA;height:32px;} */	

.org_8{color:#EA6E00;padding-left:5px;font-size:12px;background:#FFF;}

.tdo_to_c{text-align:center; font-weight:bold; height:23px;  padding:2px; background:#E3EBF2;color:#336699;}

.tdw_t_l{text-align:left; font-weight:bold; height:23px; padding-left:3px; padding-right:3px; padding-top:2px; padding-bottom:2px; background:#FFF;color:#000}
.tdw_l{text-align:left; height:32px; padding-left:10px; padding-right:4px; padding-top:1px; padding-bottom:2px; background:#FFF;color:#000}
.tdw_l_a {text-align:left; height:32px; padding:0 1px;background:#FFF;color:#000}
	

.img_re{float:left; width:50%;}

.btn_r_org{width:710px;float:left;text-align:right;margin-top:5px;margin-bottom:15px;}
.btn_r_org input{background:#c9edf1;color:#000000 ;/* border:1px solid #0080ff; */cursor:pointer;margin:3px;font-size:14px;padding:3px 10px}