body,
table,
div {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    line-height: 20px
}
input,
select,
textarea {
    font-family: 'Nanum Gothic', sans-serif;
    border: 1px solid #AFC3D6;
    padding: 3px;
    font-size: 12px
}
pre {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 4px;
    font-size: 12px
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h3,
h4,
h5,
h6,
code,
form,
fieldset,
legend,
button,
p,
blockquote {
    margin: 0;
    padding: 0;
}
.wrap-logo{
	margin: 0;
	width: 300px;
}
.selected_menu {
    color: blue;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
	cursor: pointer;
    color: blue;
    text-decoration: none;
}
/* reset */
.top {
    margin: 0 auto;
    width: 990px;
    padding-top: 20px
}
.top__logo {
    float: left;
    /* margin-left: 15px; */
}
/* 占쎌뵠沃섎챷占� 占쎌뿫占쎈뻻占쎄쾿疫꿸퀣�쒙옙�젟 */
.top__menu {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}
.top__menu ul {
    float: left;
    margin: 0;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 10px;
}
.top__menu li {
    float: left;
    border-right: 1px solid #555;
    margin: 5px;
    padding: 0 10px 0 0;
}
.top__menu img {
    vertical-align: middle;
    margin: 0;
}
.top__menu li a {
    color: #000;
    background: #FFF;
    text-decoration: none;
    letter-spacing: -1px;
    font-size: 12px;
    font-weight: 600
}
.top__menu li a:hover,
.top__menu li a:visited {
    color: #727272;
    background: #FFF;
    text-decoration: underline
}
.top__menu li:nth-child(4){
    border:0
}
.nav-wrapper__hd{float:left;width:100%;border-bottom:1px solid #DDD;margin-bottom:30px;border-top:2px solid #2f318f;background-color:#f9f9f9;color:#000}
.nav-wrapper__hdgnb {width:100%;height:47px;}
.nav-wrapper__gnb {overflow:hidden;position:relative;z-index:50;width:100%;height:45px;}
.nav-wrapper__gnb.open {background: url('../images/public/line.png') repeat-x;}
.nav-wrapper__gnb.open .gnbBg{display: block;}
.nav-wrapper__gnbUl {list-style-type: none;width:950px;margin:0 auto;padding-top:14px;}
.nav-wrapper__gnbUl:after{content:'';display:block;clear:both;}
.nav-wrapper__depth1{width: 170px;}
.depth{position:relative;z-index:100;float:left;padding:0 10px;}
.depth a{color:#000;font-size:17px;font-weight:800;text-decoration:none;background:#f9f9f9}
.depth a:hover, .nav-wrapper__depth1_1 focus {color:#2f318f;font-weight:800;text-decoration:none;background:#f9f9f9}
.nav-wrapper__depth1{display:block;position:relative;height:17px;line-height:17px;text-align:center;}
.nav-wrapper__depth1 span{display:block;position:absolute;left:1px;}
.nav-wrapper__depth1_1{background: none;}
.nav-wrapper__depth2_1 {list-style-type: none;}
.nav-wrapper__depth2_2 {list-style-type: none;}
.nav-wrapper__depth2_3 {list-style-type: none;}
.nav-wrapper__depth2_4 {list-style-type: none;}
.nav-wrapper__depth2_5 {list-style-type: none;}
.depth2{display:none;position:absolute;left:0;top:38px;z-index:999;width:100%;height:140px;border-left:1px solid #16175c;background:#2f318f;margin-left:20px;color:#000}
.depth2 a{color:#000;font-size:17px;font-weight:800;text-decoration:none;background:#2f318f}
.depth2 a:hover{color:#2f318d;background:#2f318f}
.nav-wrapper__depth2_1{border-left:0;}
.depth2 li{line-height:22px;padding-left:10px;margin-left:10px;}
.depth2 li:first-child{padding-top:0px;}
.depth2 li a{color:#fff;font-size:13px;font-weight:600;background:#2f318f}
.depth2 li a:hover, .depth2 li a:focus{color:#00abba;font-weight:600;text-decoration:none;background:#2f318f}  
.wrap{
    margin: 0 auto;
    width: 990px;
    clear: both;
}
.wrap-left{
    float: left;
    width: 220px;
    vertical-align: top;
    border: 2px solid #DDD;
    padding-bottom: 50px;
    margin-right: 5px;
}
.wrap-right{
    float: left;
    width: 710px;
    padding: 15px;
    border: 2px solid #DDD;
}
.wrap-right-img {
    float: left;
    width: 200px;
}
.wrap-right-content{
    float:left;
    width:710px;
}
.wrap-left-title {
    float: left;
    width: 180px;
    font-weight: 800;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #EEE;
}
.wrap-left > ul{
    float: left;
    width: 200px;
    padding: 0 10px;
}
.wrap-left > ul > li {
    list-style-type: none;
    border-bottom: 1px dashed #CCC;
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.wrap-right-sub_depth{
    float: right;
    width: 400px;
    text-align: right;
    font-size: 12px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.sub-title_img {
	height: 39px;
}

.footer{float:left;width:100%;clear:both;margin-top:20px;margin-bottom:30px}
.foot{width:990px;margin:0 auto;border-top:1px solid #DDD;padding:20px 0}
.footer ul, .footer li{float:left;margin:0;padding:0}
.foot__left{float:left;width:120px;}
.foot__right{float:left;width:700px;}
.foot__right ul{margin-left:5px;}
.foot__right li{list-style-type:none; margin-right:5px;border:1px solid #CCC;padding:2px;background:#DDD;color:#000;}
.foot__right li a{font-weight:600;padding-left:10px;padding-right:10px;text-decoration:none;color:#000;background:#DDD;}
.foot__right li a:hover{color:#555;background:#DDD;text-decoration:none;}
.foot__right__r{float:left;width:100%;margin-top:8px;line-height:20px}
